nodered_flow_mqtt-honyar-mp1.json
[{"id":"5c1574db.ba8cac","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"beb9efb5.6d3ee","type":"mqtt out","z":"5c1574db.ba8cac","name":"更新MQTT","topic":"","qos":"0","retain":"true","broker":"8212b156.13102","x":830,"y":160,"wires":[]},{"id":"61d3e0dd.25fb2","type":"function","z":"5c1574db.ba8cac","name":"排插信息","func":"// ---\n// 请按以下要求填写排插信息\n// mqtt 命名规则 \n// hy/排插名称/set/s* 此为控制 topic\n// hy/排插名称/status/s* 此为状态显示 topic\n\n// 根据以下范例填写 switchs 对象内容\n// \"排插名称(和mqtt中的排插名称必须一致)\":{\n//    \"name\":\"排插名称\",\n//    \"host\":\"排插IP地址(建议在路由设置静态dhcp分配)\",\n//    \"mac\":\"排插mac地址\"\n//}\n//\n//对象遵循 json 格式.\n\nvar switchs={\n    \"zong_paicha\":{\n        \"name\":\"zong_paicha\",\n        \"host\":\"192.168.1.165\",\n        \"mac\":\"B4:43:0D:C0:F3:22\"\n    },\n    \"er_paicha\":{\n        \"name\":\"er_paicha\",\n        \"host\":\"192.168.1.198\",\n        \"mac\":\"34:EA:34:F1:7D:76\"\n    }\n}\n\n// 通过 topic 区分动作,动作分为 setState 与 getState.\n\nif (msg.topic === \"getState\"){\n    // 将 switchs 对象传递给下一个节点\n    msg.payload=switchs;\n    // 输出给 2号节点,1号节点不输出.\n    return [null,msg];\n}\nelse if(msg.topic.split('/')[2]==='set'){\n    // 通过 topic 获取需要操作的设备.\n    var key = msg.topic.split('/');\n    // 将需要操作的对象属性传递给下一个节点\n    msg.switch = switchs[key[1]];\n    msg.key=key[3];\n    msg.action=msg.payload;\n    // 输出给1号节点,2号节点不输出\n    return [msg,null];\n}","outputs":2,"noerr":0,"x":240,"y":120,"wires":[["8d1db72.8837748"],["9f8d0855.7d8588"]]},{"id":"8d1db72.8837748","type":"function","z":"5c1574db.ba8cac","name":"组装控制对象","func":"// 准备 state 模板对象,给后方合并对象时提供默认值\nvar state_temp = {\"action\":\"setState\",\"state\":true,\"s1\":false,\"s2\":false,\"s3\":false,\"s4\":false};\n// 根据需要操作的插座位置(S1/S2/S3/S4)组装操作对象\nvar action_switch= '{\"' + msg.key + '\":true}'\n// 组装操作排插的地址和mac\nvar drive = {\"host\":msg.switch.host,\"mac\":msg.switch.mac};\nvar obj={};\n\n// 区分操作是 on 还是 off\nif (msg.action === \"ON\"){\n    // 使用 Object.assign 方法合并上方建立的对象,新的状态会覆盖旧的\n    // 另 action 由于为字符串类型,故需要使用 JSON.parse 方法来转换为对象类型\n    msg.payload = Object.assign(obj,state_temp,JSON.parse(action_switch),drive);\n}\nelse if (msg.action === \"OFF\"){\n    // 修改 state 动作为关闭\n    state_temp.state = false;\n    msg.payload = Object.assign(obj,state_temp,JSON.parse(action_switch),drive);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["85a56270.009a8"]]},{"id":"d2ac3f9b.dab12","type":"mqtt in","z":"5c1574db.ba8cac","name":"","topic":"hy/#","qos":"2","datatype":"auto","broker":"8212b156.13102","x":50,"y":40,"wires":[["61d3e0dd.25fb2"]]},{"id":"85a56270.009a8","type":"MP1","z":"5c1574db.ba8cac","name":"设置设备状态","device":"","action":"_msg_","s1":false,"s2":false,"s3":false,"s4":false,"state":"false","x":420,"y":160,"wires":[["d270debf.cda06","ffa8721f.cd2bd"]]},{"id":"9f8d0855.7d8588","type":"split","z":"5c1574db.ba8cac","name":"分离","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":230,"y":160,"wires":[["4dcfe4b2.cb6e8c"]]},{"id":"4dcfe4b2.cb6e8c","type":"MP1","z":"5c1574db.ba8cac","name":"获取设备状态","device":"","action":"getState","s1":false,"s2":false,"s3":false,"s4":false,"state":"false","x":220,"y":200,"wires":[["d270debf.cda06","e6b85e8f.099db"]]},{"id":"d1237bc9.d52d68","type":"function","z":"5c1574db.ba8cac","name":"当状态改变时更新","func":"// 如果flow变量不存在则创建\nif (typeof flow.get(msg.payload.name) == \"undefined\"){\n    // 变量保存当前插座的state对象(字符串)\n    flow.set(msg.payload.name,JSON.stringify(msg.payload.state));\n}\n\n// 检查flow变量中的状态是否\nif (flow.get(msg.payload.name) != JSON.stringify(msg.payload.state)){\n    flow.set(msg.payload.name,JSON.stringify(msg.payload.state));\n    msg.topic = 'hy/' + msg.payload.name + '/state';\n    msg.payload = msg.payload.state;\n    return msg;\n}\nelse{\n    return null;\n}\n","outputs":1,"noerr":0,"x":210,"y":240,"wires":[[]]},{"id":"91348e26.68b6f","type":"mqtt out","z":"5c1574db.ba8cac","name":"更新mqtt状态","topic":"","qos":"0","retain":"true","broker":"8212b156.13102","x":750,"y":340,"wires":[]},{"id":"eec4b7e7.e48138","type":"inject","z":"5c1574db.ba8cac","name":"5秒更新","topic":"getState","payload":"{}","payloadType":"json","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":120,"wires":[["61d3e0dd.25fb2"]]},{"id":"d270debf.cda06","type":"debug","z":"5c1574db.ba8cac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":200,"wires":[]},{"id":"5abe57eb.57d858","type":"MP1","z":"5c1574db.ba8cac","name":"设置设备状态","device":"","action":"_msg_","s1":false,"s2":false,"s3":false,"s4":false,"state":"false","x":280,"y":540,"wires":[["1affbd80.d79923"]]},{"id":"b7072a86.72dcf8","type":"inject","z":"5c1574db.ba8cac","name":"测试","topic":"","payload":"{\"action\":\"setState\",\"state\":false,\"s1\":false,\"s2\":false,\"s3\":false,\"s4\":true,\"host\":\"192.168.1.198\",\"mac\":\"34:EA:34:F1:7D:76\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":540,"wires":[["5abe57eb.57d858"]]},{"id":"1affbd80.d79923","type":"debug","z":"5c1574db.ba8cac","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":540,"wires":[]},{"id":"ffa8721f.cd2bd","type":"function","z":"5c1574db.ba8cac","name":"输出开关状态","func":"//msg.tmpS1=msg.payload.payload.state.s1;\n//msg.topic = 'hy/' + msg.payload.name+\"/\"+ swTemp + '/state';\n//msg.payload = msg.payload.state;\nmsg.payload=msg.payload.state;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["f6fb2b02.b63658"]]},{"id":"f6fb2b02.b63658","type":"split","z":"5c1574db.ba8cac","name":"分离","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":610,"y":120,"wires":[["4183844c.6a2f5c"]]},{"id":"96d8a09b.b8306","type":"inject","z":"5c1574db.ba8cac","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":460,"wires":[["c9a6c51b.6b2118"]]},{"id":"c9a6c51b.6b2118","type":"mqtt out","z":"5c1574db.ba8cac","name":"","topic":"hy/er_paicha/set/s4","qos":"0","retain":"false","broker":"8212b156.13102","x":280,"y":460,"wires":[]},{"id":"4183844c.6a2f5c","type":"function","z":"5c1574db.ba8cac","name":"合成插座状态","func":"//msg.tmpS1=msg.payload.payload.state.s1;\n//msg.topic = 'hy/' + msg.payload.name+\"/\"+ swTemp + '/state';\n//msg.payload = msg.payload.state;\nmsg.topic=\"hy/\"+msg.switch.name+\"/status/\"+msg.parts.key;\nif(msg.payload===true){\n    msg.payload='ON';}\nelse if(msg.payload===false){\n    msg.payload='OFF'}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":120,"wires":[["beb9efb5.6d3ee"]]},{"id":"a1030fb9.f2e6e","type":"mqtt out","z":"5c1574db.ba8cac","name":"","topic":"hy/er_paicha/state","qos":"","retain":"","broker":"8212b156.13102","x":490,"y":60,"wires":[]},{"id":"dfff40e0.b047f","type":"inject","z":"5c1574db.ba8cac","name":"","topic":"","payload":"online","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":60,"wires":[["a1030fb9.f2e6e"]]},{"id":"5d37401.0e271c","type":"debug","z":"5c1574db.ba8cac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":280,"wires":[]},{"id":"e6b85e8f.099db","type":"function","z":"5c1574db.ba8cac","name":"输出开关状态","func":"//msg.tmpS1=msg.payload.payload.state.s1;\n//msg.topic = 'hy/' + msg.payload.name+\"/\"+ swTemp + '/state';\n//msg.payload = msg.payload.state;\nmsg.payload=msg.payload.state;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":320,"wires":[["5127bfcd.c2331"]]},{"id":"5127bfcd.c2331","type":"split","z":"5c1574db.ba8cac","name":"分离","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":320,"wires":[["1aa05ef9.ec8a51","1912a064.280c"]]},{"id":"1aa05ef9.ec8a51","type":"function","z":"5c1574db.ba8cac","name":"合成插座状态","func":"//msg.tmpS1=msg.payload.payload.state.s1;\n//msg.topic = 'hy/' + msg.payload.name+\"/\"+ swTemp + '/state';\n//msg.payload = msg.payload.state;\nmsg.topic=\"hy/\"+msg.parts.parts.key+\"/status/\"+msg.parts.key;\nif(msg.payload===true){\n    msg.payload=\"ON\"}\nelse if(msg.payload===false){\n    msg.payload=\"OFF\"}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["91348e26.68b6f","5d37401.0e271c"]]},{"id":"1912a064.280c","type":"debug","z":"5c1574db.ba8cac","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":300,"wires":[]},{"id":"8212b156.13102","type":"mqtt-broker","z":"","name":"hassio-mqtt","broker":"192.168.1.5","port":"1883","clientid":"nodered-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]